<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="98cf456c-92c5-4fff-937c-11155f5d0039" Alias="newsList" Level="2">
  <Info>
    <Name>NewsList</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="860fdcf7-c1b9-43f2-8397-fa3b8cb143cb" SortOrder="0">newsItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>